@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c0c0f;
  font-family: "Inter", sans-serif;
  justify-content: space-around;
}

.page {
  /* display: flex; */
}

.sidebar {
  box-sizing: border-box; /* Include padding in width calculation */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 17%;
  min-width: 350px;
  background: linear-gradient(to bottom, #1b080a, #2d0d10);
  padding: 24px;
  border-right-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

.sidebar .logo {
  width: 300px;
  display: flex;
  justify-content: center;
}

.sidebar .logo img {
  display: inline-block;
  margin: 0 auto;
  padding-top: 15px;
  width: 180px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 50px;
}

.sidebar .navigation ul li {
  padding: 10px 40px;
}

.sidebar .navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  font-size: 30px;
}

.sidebar .navigation ul li a:hover {
  color: #ffffff;
  font-weight: 800;
}

.sidebar .navigation ul li a:visited {
  color: #ffffff;
  font-weight: 800;
}

.sidebar .policies {
  position: absolute;
  bottom: 100px;
}

.sidebar .policies ul {
  list-style: none;
}

.sidebar .policies ul li {
  padding-bottom: 5px;
}

.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}

.sidebar .policies ul li a:hover {
  text-decoration: underline;
}

.main-container {
  box-sizing: border-box; /* Include padding in width calculation */
  margin-left: 17%; /* Adjust to match sidebar width */
  max-width: 100%;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  background-color: #2c0c0f;
  height: 100px;
}

.topbar .logout {
  display: flex;
  align-items: center;
  color: #7a7a7a;
  font-size: 18px;
  border-left-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #2c0c0f;
  padding-left: 3%;
  padding-right: 5%;
}

.topbar .logout span img {
  height: 30px;
  vertical-align: middle;
}

.topbar .logout a {
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  vertical-align: middle;
}

.topbar .logout a:hover {
  color: #ffffff;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
}

.topbar .navbar {
  display: flex;
  align-items: center;
  padding-right: 2%;
}

.topbar .navbar p {
  color: #ffffff;
  list-style: none;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 5px;
  width: 100px;
}

.topbar .navbar ul li .rightspace {
  border-left-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  padding-left: 50px;
}

.topbar .navbar ul li div a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
  color: #ffffff;
}

.topbar .navbar button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .navbar button:hover {
  background-color: #f2f2f2;
}

.content-body {
  display: flexbox;
}
.content {
  padding: 15px 40px;
  flex-grow: 1;
}

.content h2 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}

.content .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
  justify-content: space-around;
  /* background: #ffffff;
  border-radius: 3px; */
}

.content .list .item {
  display: flex;
  flex-direction: column;  /* Ensure items are stacked vertically */
  align-items: center;  /* Center items horizontally */
  max-height: 280px;
  padding: 15px;
  background-color: #ececec;
  border-radius: 25px;
  cursor: pointer;
  transition: all ease 0.4s;
  justify-content: center;
}

.content .list .item:hover {
  background-color: #ffffff;
}

.content .list .item .play {
  position: relative;
}

.content .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}

.content .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}

.content .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .list .item .item-text {
  margin-top: 10px; /* Adjust the top margin as needed */
}
.content hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.preview p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.preview button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

#userChart {
  width: 450px;
  height: 100%;
}

#userChart1 {
  width: 750px;
  height: 100%;
}

#userChart2 {
  width: 450px;
  height: 100%;
}

#analyticsLineChart {
  width: 450px;
  height: 80%;
}
#analyticsDoughnutChart {
  width: 300px;
  height: 80%;
}